body {
    font-family: 'Times New Roman', Times, serif;
    margin: 0;
    padding: 0;
    background-color: #ffffff;
    color: #333;
}
header {
    background-color: #ffffff;
    color: rgb(0, 0, 0);
    padding: 1em 0;
    text-align: center;
}
nav {
    text-align: center;
    margin: 1em 0;
}
nav a {
    font-weight: bold;
    font-size: large;
    margin: 0 1em;
    color: #1e21df;
    text-decoration: none;
}
.container {
    width: 80%;
    margin: 0 auto;
    padding: 2em 0;
}
h1 {
    font-size: 2.5em;
    margin-bottom: 0.5em;
}
p {
    font-size: 1.2em;
    margin-bottom: 1.5em;
}
.cta-button {
    display: inline-block;
    padding: 1em 2em;
    font-size: 1em;
    color: white;
    background-color: #4CAF50;
    text-decoration: none;
    border-radius: 5px;
}
.cta-button:hover {
    background-color: #45a049;
}